@import './variable';
body {
    background: $pagebackground;
    padding: 0;
    margin: 0;
    font-size: 16px;
}
a {
    text-decoration: none;
    cursor: pointer;
    &:hover, &:focus, &:active {
        text-decoration: none;
    }
}

.btn {
  font-size: 15px;
  padding: 7px 10px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  &.primary {
    background: $primary;
    color: $white;
  }
  &.secondary {
    background: $secondary;
    color: $white;
  }
  &.tertiary {
    background: $tertiary;
    color: $white;
  }
}
