@import '../../styles/variable';

.site-loader {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 100%;
  justify-content: center;
  height: 100vh;
  vertical-align: middle;
  align-items: center;
  top: 0;
  font-size: 25px;
  color: $black;
  .loader-img {
      width: 200px;
      svg {
          width: 100%;
      }
  }
}
